extends layout

block content
    div.header
        h1= title
        a.btn(href='/catalog/item/create') Create new item

    ul.list-container
        each item in items_list
            li.container-item
                a(href=item.url) #{item.name}
                h3 $#{item.price}
        else
            li There are no items.