extends layout

block content
    div.header
        h1= title
        a.btn(href='/catalog/item/create') Create new item

    ul
        each item in items_list
            li
                a(href=item.url) #{item.name}
                |  – $#{item.price}
        else
            li There are no items.