body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .main-container {
    display: flex;
    gap: 100px;

    .sidebar {
      ul {
        list-style-type: none;
      }
    }
  }
}

a {
  color: #00B7FF;
}
