body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;

  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    .sidebar-nav {
      display: flex;
      gap: 15px;
    }
  }
}

// common classes
.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;

  .container-item {
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}

h1, h3 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.btn {
  background-color: cadetblue; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

a {
  color: #00B7FF;
}
