body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  .main-container {
    display: flex;
    gap: 100px;

    .sidebar {

    }
  }

  // common classes
  ul {
    list-style-type: none;
  }

  .btn {
    background-color: cadetblue; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }

  .header {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

a {
  color: #00B7FF;
}
